<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <File name="LiveCarnival" fileName="C:\LiveCarnivalLogs\LiveCarnival.log">
        <PatternLayout >
           <Pattern>%d [%t] %-5p %c{1} - %m%n</Pattern> 
       </PatternLayout>
     </File>
  </Appenders>
  <Loggers>
    <Root level="debug">
      <AppenderRef ref="Console"/>
    </Root>
    <Logger name="com.netreality" level="debug" additivity="true">
        <AppenderRef ref="LiveCarnival"/>        
    </Logger>
    <Logger name="com.google" level="debug" additivity="false">
        <AppenderRef ref="LiveCarnival"/>        
    </Logger>
    <Logger name="org.hibernate" level="all" additivity="false">
        <AppenderRef ref="LiveCarnival"/>        
    </Logger>
  </Loggers>
</Configuration>